<div class="container">
    <h1>My Account</h1>
    <div *ngIf="tickets.length > 0">
      <h2>Your Tickets</h2>
      <table>
        <thead>
          <tr>
            <th>Gatepass Type</th>
            <th>Name</th>
            <th>Number of Adults</th>
            <th>Number of Children</th>
            <th>Date</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of tickets">
            <td>{{ ticket.gatepassType }}</td>
            <td>{{ ticket.name }}</td>
            <td>{{ ticket.numberOfAdults }}</td>
            <td>{{ ticket.numberOfChildren }}</td>
            <td>{{ ticket.date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="tickets.length === 0">
      <p>No tickets found.</p>
    </div>
  </div>
  